/* Font faces are .woff transformations of Knuth's Computer Modern font
 * set.  I downloaded them from http://checkmyworking.com/cm-web-fonts/
 */
@font-face {
  font-family: "Computer Modern";
  src: url("/static/cmunrm.woff");
}
@font-face {
  font-family: "Computer Modern Bright Semibold";
  src: url("/static/cmunbsr.woff");
}
@font-face {
  font-family: "Computer Modern Concrete";
  src: url("/static/cmunorm.woff");
}
#readings {
  padding-left: 0;
  margin-left: 0;
}
.reading {
  display: block;
  margin-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 2px;
  border-bottom: 2px solid lavender;
}
.reading:hover {
  background-color: rgb(220, 255, 250);
  border-radius: 5px;
}
.added {
  font-family: "Computer Modern Concrete", "Times New Roman", serif;
  font-size: smaller;
  color: gray;
}
.reading-title {
  font-family: "Computer Modern Bright Semibold", Arial, sans-serif;
  font-size: larger;
  color: black;
}
.small-link {
  font-family: "Computer Modern", "Times New Roman", serif;
  font-size: smaller;
  color: gray;
}
label {
  font-family: "Computer Modern Bright Semibold", Arial, sans-serif;
  font-size: larger;
}
input {
  font-family: "Computer Modern Concrete", Arial, sans-serif;
  font-size: larger;
}
button {
  font-family: "Computer Modern Bright Semibold", Arial, sans-serif;
  font-size: larger;
  padding: 5px;
  margin-left: 10px;
}
