/* Font faces are .woff transformations of Knuth's Computer Modern font
 * set.  I downloaded them from http://checkmyworking.com/cm-web-fonts/
 */
@font-face {
  font-family: "Computer Modern";
  src: url("/static/cmunrm.woff");
}
@font-face {
  font-family: "Computer Modern Bright Semibold";
  src: url("/static/cmunbsr.woff");
}
@font-face {
  font-family: "Computer Modern Concrete";
  src: url("/static/cmunorm.woff");
}
.reading {
  display: block;
  padding-bottom: 10px;
}
.added {
  float: right;
  font-size: smaller;
}
.reading-link {
  font-family: Georgia, Arial, sans-serif;
  font-size: larger;
}
button {
  font-size: larger;
  padding: 5px;
  margin-left: 10px;
}
