/* Font faces are .woff transformations of Knuth's Computer Modern font
 * set.  I downloaded them from http://checkmyworking.com/cm-web-fonts/
 */
@font-face {
  font-family: "Computer Modern";
  src: url("/static/cmunrm.woff");
}
@font-face {
  font-family: "Computer Modern Bright Semibold";
  src: url("/static/cmunbsr.woff");
}
@font-face {
  font-family: "Computer Modern Concrete";
  src: url("/static/cmunorm.woff");
}

#readings {
  padding-left: 0;
  margin-left: 0;
}
.reading {
  display: block;
  margin-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 2px;
  border-bottom: 2px solid lavender;
}
.reading:hover {
  background-color: rgb(220, 255, 250);
  border-radius: 5px;
}
.added {
  font-family: "Computer Modern Concrete", "Times New Roman", serif;
  font-size: smaller;
  color: gray;
}
.reading-title {
  font-family: "Computer Modern Bright Semibold", Arial, sans-serif;
  font-size: larger;
  color: black;
}
.small-link {
  font-family: "Computer Modern", "Times New Roman", serif;
  font-size: smaller;
  color: gray;
}
.form-label {
  font-family: "Computer Modern Bright Semibold", Arial, sans-serif;
  font-size: larger;
  display: inline-block;
  width: 100px;
}
input {
  font-family: "Computer Modern Concrete", Arial, sans-serif;
  font-size: larger;
}
input:valid {
  border-color: inherit;
}
input:invalid {
  box-shadow: 0 0 5px 1px red;
}
input:focus:invalid {
  outline: none;
}
button {
  font-family: "Computer Modern Bright Semibold", Arial, sans-serif;
  font-size: larger;
  padding: 5px;
  margin-left: 10px;
}

.hidden {
  display: none;
}

#add-panel {
  z-index: 2;
  position: absolute;
  top: 10%;
  left: 10%;
  padding: 20px;
  border: 2px darkblue solid;
  background-color: azure;
  font-family: "Computer Modern Bright Semibold", Arial, sans-serif;
}

#click-blocker {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(250, 250, 250, 0.5);
}

@media only screen and (max-device-width: 1024px) {
  .form-label {
    display: none;
  }
  .small-link {
    display: none;
  }
  input {
    display: block;
    width: 85%;
    margin-left: 5%;
    padding: 2%;
  }
  button[type=submit] {
    display: block;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
  .reading {
    padding: 0;
    border: none;
    padding-bottom: 5px;
  }
}
